<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ismartapps.reachalert">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.ismartapps.reachalert.NavigationDrawerActivity">
        </activity>

        <activity
            android:name="com.ismartapps.reachalert.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.ismartapps.reachalert.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ismartapps.reachalert.MapsActivityPrimary" />
        </activity>

        <receiver
            android:name="com.ismartapps.reachalert.LocationUpdatesBroadcastReceiver"
            android:exported="true" />
        <receiver android:name="com.ismartapps.reachalert.LocationUpdatesCancelReceiver" />
        <receiver android:name="com.ismartapps.reachalert.StopRing" />
        <receiver android:name="com.ismartapps.reachalert.LocationUpdatesRefreshReceiver"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/google_id" />

        <activity
            android:name="com.ismartapps.reachalert.MapsActivityFinal"
            android:label="@string/title_activity_maps_final">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ismartapps.reachalert.MapsActivitySecondary" />
        </activity>
        <activity
            android:name="com.ismartapps.reachalert.MapsActivitySecondary"
            android:label="@string/title_activity_maps_secondary">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ismartapps.reachalert.MapsActivityPrimary" />
        </activity>
        <activity
            android:name="com.ismartapps.reachalert.MapsActivityPrimary"
            android:label="@string/title_activity_maps_primary">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ismartapps.reachalert.SplashActivity" />
        </activity>
    </application>

</manifest>